/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require first
 *= require bootstrap
 *= require_self
 *= require mobile
 *= require introjs
 *= require_tree .
 */

html, body {
	height: 100%;
}

body {

}

#blueprint {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("graphy.png");
	z-index: -1;
}

#blueprint-box {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url("box-bg-final.png");
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

h1 {
	font-weight: 100;
	font-size: 3em;
}

h2 {
	font-weight: 200;
}

h3 {
	font-weight: 400;
}

h4 {

}

h5 {

}

/*
#blueprint {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
	background-image: url("Blueprint-grid.png");
	background-repeat: repeat;
	background-size: 10%;
	-webkit-transform: rotate3d(1,0,0,5deg) translateZ(140px);
}
*/

/* The smaller the perspective value the deeper it is */

ul {
	list-style: none;
}

.image-left-top {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 7.5vmax;
}

.image-right-bottom {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 7.5vmax;
}

.logo-start {
	font-size: 1em;
}

.logo-ech {
	text-transform: uppercase;
	font-size: 0.725em
}

span.inactive {
	color: rgb(140,140,140);
}





.ui-sortable-placeholder {  
    border: 3px dashed #aaa;  
    height: 116px;
    background: white;  
}  

/* GENERAL HELPERS */

.padding-right {
	padding-right: 1em;
}

.padding-left {
	padding-left: 1em;
}


/* OVERWRITING TWITTER BOOTSTRAP */

.accordion div {
	font-style: italic;
	border: none;
}

.accordion-inner {
	margin-left: 40px;
}

li.dropdown > a.dropdown-toggle {
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown-toggle img {
	height: 40px;
	width: 50px;
}

.text_in_dropdown {
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	width: 200px;
}

li.dropdown {
	padding: 10px 15px 10px;
}

/*
.hero-unit {
	background-image: url("tree.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 60%;
	
}
*/

.img-center img {
	text-align: center;
}

.box-background {
	margin: 5px;
	padding: 0 10px;
	background-color: rgba(0,0,0,0.05);
	border-radius: 5px;
}

.add_fields_button {
	margin-left: 20%;
	margin-bottom: 25px;
}

.remove_fields {
	margin-left: 25%;
}

.sub_fields {
	margin-left: 5%;
}

.gray {
	color: gray;
}

.black {
	color: black;
}

hr.colorful-border {
	border: 1px solid #00eac1;
}

.colorful {
	
	color: #01d9c7;
}

/* color: #01d999; */

